@using Arm.Shop.Core.DTOs
@using Arm.Shop.Core.Services
@inject ICategoriaService CategoriaService

<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories of The Month</h1>
            <p>
                Descubrí nuestras categorías más populares del mes.
            </p>
        </div>
    </div>
    <div class="row">
        @if (categorias.Count == 0)
        {
            <div class="col text-center">
                <p>No hay categorías destacadas disponibles.</p>
            </div>
        }
        else
        {
            @foreach (var cat in categorias)
            {
                <div class="col-12 col-md-4 p-5 mt-3">
                    <a href="/categoria/@cat.Id">
                        <img src="@cat.ImagenUrl" class="rounded-circle img-fluid border" alt="@cat.Nombre">
                    </a>
                    <h5 class="text-center mt-3 mb-3">@cat.Nombre</h5>
                    <p class="text-center">
                        <a href="/categoria/@cat.Id" class="btn btn-success">Go Shop</a>
                    </p>
                </div>
            }
        }
    </div>
</section>
<!-- End Categories of The Month -->
@code {
    private List<CategoriaDto> categorias = new();

    protected override async Task OnInitializedAsync()
    {
        // Traemos 3 categorías destacadas (o más, según quieras)
        categorias = await CategoriaService.GetDestacadasAsync(3);
    }
}